{% extends "base.html" %}
{% block content %}
<form method="POST">
  <table>
    <thead>
      <tr>
        <th>Key</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      {% for sf in formset.forms %}
      <tr>
        <td>
          <tr>
            {% for field in sf %} 
            <td>{{ field }}</td>
            {% endfor %}
          </tr>
        </td>
      </tr>
      {% endfor %}
      <tr>
        <td><input type="submit" /></td>
      </tr>
    </tbody>
  </table>
</form>
{% endblock %}
