<html>
  <head>
    <title>PermaChart</title>
    {% block js %}{% endblock %}
    {% block css %}{% endblock %}
    <link rel="stylesheet" href="/static/reset.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/static/text.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/static/base.css" type="text/css" media="screen" />
	{% block extrahead %}{% endblock %}
  </head>
  <body>
    <div id="header">
      <ul id="nav" class="clearfix">
        <li><a href="/">Home</a></li>
        <li><a href="{% url chart-new %}">Create New Chart</a></li>
        <li><a href="{% url chart-list %}">All Charts</a></li>
        {% if user %}
        <li><a href="{% url my-charts %}">My Charts</a></li>
        {% endif %}
      </ul>
    </div>
    <div id="content">
      {% block content %}{% endblock %}
    </div>
    <div id="footer">
      <hr />
      <p>
        Created by <a href="http://justinlilly.com/">Justin Lilly</a> and <a href="http://www.issackelly.com/">Issac Kelly</a>.
      </p>
    </div>
    {% include "analytics.html" %}
    {% include "get_satisfaction.html" %}
  </body>
</html>
