{% extends "base.html" %}

{% block content %}
<h3>Welcome to PermaChart!</h3>
<p>
  Our aim is to provide a place to make permenant charts that live at
  a long-lived, opaque url. If you have suggestions, please let us
  know. <a href="http://github.com/justinlilly/permachart/">Find us on Github.</a>
  {# FIXME: get email addy for suggestions #}
  <h4>Three Recent Charts</h4>
  <ul class="chart_list clearfix">
    {% for chart in chart_list %}
    <li><a href="{% url chart-detail chart.get_hash %}"><img src="{{ chart.small_chart_url }}"/></a><br/><a href="{% url chart-detail chart.get_hash %}">{{ chart }}</a></li>
    {% endfor %}
  </ul>
</p>
{% endblock %}
